@media(max-width:1199px){
	.wrapper{
		max-width:992px
	}
	.schema__item{
		padding:20px;
	}
	.company__text{
		align-items:center;
	}
	.company__name{
		width:auto;
		order:1;
		margin:0 10px 0 0;
	}
	.company__btn{
		order:2;
	}
	.company__table{
		order:3;
		width:100%;
		margin:12px 0;
	}
	.blue-form{
		padding:30px 60px;
	}
	.double-form__item{
		width:calc(50% - 20px);
	}
	.calc{
		justify-content:space-between;
	}
	.calc input,
	.calc input:first-child,
	.calc button,
	.calc__overpay{
		width:calc(50% - 10px);
		margin-right:0;
		margin-bottom:20px;
	}
	.calc button{
		order:2;
		margin:0 auto;
		width:260px;
	}
	.calc__overpay{
		text-align: right;
	}
	.calc__overpay input{
		width:70px;
		text-align:center;
		font-size:16px;
		font-weight:bold;
		margin:0 0 0 15px;
	}
	.company-string__img{
		margin-right:20px;
	}
	.company-string__title{
		width:200px;
	}
	.cmp-block__head{
		width:170px;
	}
	.cmp-block__text{
		padding:30px 15px;
	}
	.cmp-list__item,
	.cmp__advan-list li{
		width:calc(50% - 20px);
	}
	
}
@media(max-width:991px){	
	.wrapper{
		max-width:768px;
	}
	header{
		position:relative;
	}
	.menu-btn,
	.filter-btn{
		display:inline-block;
		font-size:20px;
		line-height:1;
		vertical-align: middle;
	}
	.menu-btn.open,
	.filter-btn.open{
		color:#377dff;
	}
	.menu-btn{
		margin-right:25px;
	}
	.filter-btn{
		float:right;
	}
	.header__bottomline{
		position:absolute;
		top:100%;
		left:0;
		width:100%;
		display:none;
		border-top:2px solid #377dff;
		z-index:10;
	}
	.header__bottomline .wrapper{
		max-width:100%;
		padding:0 0 10px;
		border-bottom:0;
		background-color:#334681;
	}
	.header__bottomline li,
	.top-menu__title{
		max-width:768px;
		margin-left:auto;
		margin-right:auto;
	}
	.top-menu{
		display:block;
		color:#fff;
		margin:0;
		padding:26px 15px 18px;
		font-size:16px;
	}
	.top-menu__title{
		font-size:14px;
		display:block;
		margin-bottom:1em;
		padding:0 35px;
	}
	.top-menu li{
		display:block;		
	}
	.top-menu a{
		padding:3.4px 35px;
	}
	.main-menu{
		display:block;
		padding:8px 15px 0;
		background-color:#fff;		
	}
	.main-menu li{
		display:block;
		padding-top:0;
		padding-bottom:0;
	}
	.main-menu a{
		padding:12px 35px;
		display:block;
	}
	.main-menu__dropdown-block{
		position:static;
		transform:none;
		border:none;
		border-top:2px solid #f2f4f6;
	}
	.main-menu__dropdown-block a{
		padding:7px 35px;
		border:none;
		border-bottom:2px solid #f2f4f6;
	}
	
	.schema{
		flex-wrap:wrap;
	}
	.schema__item{
		max-width:calc(50% - 20px);
	}
	.schema__arrow.central{
		display:none;
	}
	.search-form{
		word-spacing:20px;
	}
	aside{
		display:none;
	}
	.catalog__aside{
		position:absolute;
		top:100%;
		left:0;
		width:100%;
		margin:0;
		background-color: #334681;
		border-top:2px solid #377dff;
		padding:10px;
	}
	
	.filter__title{
		padding-left:calc(50% - 100px);
		padding-right:calc(50% - 100px);
	}
	.filter label.block{
		max-width:160px;
		margin-left: auto;
		margin-right: auto;
	}
	.filter .text-checkbox.block{
		max-width:260px;
	}
	.filter .text-checkbox.block:not(:first-child){
		margin-top:10px;
	}
	.filter__field{
		padding:0 15px 15px 17px;
		word-spacing:10px;
	}
	.text-checkbox{
		margin:20px 0 0;
	}
	.post-nav__title{
		display:none;
	}
	.post-nav{
		margin:0 0 30px;
		word-spacing:10px;
		font-size:14px;
	}
	.post-nav__link{
		border-top:1px solid #f2f4f6;
		display:inline-block;
		padding:0 7px;
		word-spacing:normal;
	}
	.post-nav__amount{
		float:none;
		margin-left:0 0 30px;
	}
	.company-string__title{
		display:none;
	}
	.company-string__info{
		margin:0 auto;
	}
	.clauses{
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		align-items:center;
		margin:30px 0;
	}
	.clauses:first-child{
		margin-top: 0;
	}
	.clause{
		width:calc(50% - 10px);
	}
}
@media(max-width:767px){
	.wrapper{
		padding-left: 10px;
		padding-right: 10px;
	}
	h1,h2{
		font-size:18px;
	}
	h2:not(.left){
		text-align:center;
	}
	h3,h4{
		font-size:14px;
	}
	button,
	[type="submit"],
	[type="reset"],
	.btn{
		font-size:14px;
		padding:0 20px;
	}
	.btn_big{
		display:block;
		width:100%;
		max-width:300px;
		margin:20px auto;
	}
	.header__topline{
		padding:16px 5px;
	}
	.schema{
		padding:33px 35px 15px;
		font-size:12px;
	}
	.schema__arrow{
		margin-top:24px;
	}
	.schema__item{
		padding:10px;
		max-width:50%;
	}
	.schema__icon{
		font-size:60px;
	}
	.search-form{
		word-spacing:5px;
		text-align:left;
		padding:17px 0;
	}
	.search-form input{
		max-width:90px;
	}
	.search-form__title{
		margin-right:10px;
	}
	.search-form button{
		margin-left:10px;
	}
	.company{
		margin-bottom:10px;
	}	
	.catalog{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.sort-form{
		font-size:14px;
		margin-bottom:28px;
	}
	.sort-form>*:not(:last-child){
		margin-right:10px;
	}
	.sort-form>*:first-child{
		margin-right:20px
	}
	.sort__item{
		width:auto;
		padding-right:10px;
		padding-left:10px;
	}
	.company__head{
		width:125px;
		padding:15px 10px 10px;
		border-width:2px;
	}
	.company__text{
		padding:20px 20px 20px 12px;
		font-size:10px;
	}
	.company__table{
		margin:15px 0 5px;
	}
	.company__table td{
		padding-bottom:10px;
	}
	.company__table tbody td{
		font-size:12px;
	}
	.receiving__img{
		height:14px;
	}
	.blue-form{
		padding:30px 40px;
	}
	.double-form{
		display:block;
	}
	.double-form__item{
		width:100%;
	}
	.double-form__item:first-child{
		margin:0 0 20px;
	}
	.footer-menu{
		display:block;
		word-spacing:30px;
		text-align:center;
		padding:10px 0;
	}
	.footer-menu li{
		word-spacing:normal;
	}
	.footer-menu a{
		padding:6px 0;
	}
	.clause{
		font-size:12px;
	}
	.company-string{
		padding-right:60px;
	}
	.clauses:first-child{
		margin:0;
	}
	.cmp{
		display:block;
	}
	.cmp__img{
		width:220px;
		margin-right:0;
	}
	.cmp-block{
		display:block;
		margin-top: 20px;
	}
	.cmp-block__head{
		width:100%;
		border-right:none;
		border-bottom:4px dotted #f2f4f6;
		padding-bottom:20px;
	}
	.cmp-block__head .btn{
		max-width:180px;
		margin:auto;
	}
	.cmp-block__text{
		padding:22px 15px;
	}
	.cmp__clause-list{
		margin:20px 0;
	}
	.cmp-list{
		margin-top:30px;
	}
	.cmp-list__item,
	.cmp__advan-list li{
		width:calc(50% - 14px);
	}
	.review-form__rating{
		text-align:center;
	}
	.review-form__details{
		display:block;
	}
	.review-form__details textarea{
		width:100%;
	}
	
}
@media(max-width:600px){
	.search-form button{
		width:auto;
	}
	.company__table td:last-child{
		display:none;
	}
	.blog{
		margin:0 0 20px;
	}
	.post-loop{
		width:100%;
		max-width:420px;
		margin:0 auto 10px;
	}
	.post-loop__img{
		height:160px;
	}
	.post-loop__title{
		max-width:280px;
		margin:0 0 .6em;
		font-size:16px;
	}
	.post-loop__text{
		font-size:14px;
	}
	.pagination__item:nth-child(8),
	.pagination__item:nth-child(9),
	.pagination__item:nth-child(10),
	.pagination__item:nth-child(11){
		display:none;
	}
	.post-img{
		float:none;
		width:100%;
		margin:0 0 15px;
		max-height:220px;
		object-fit:cover;
		object-position:center;
	}
	.post-tools{
		display:block;
		text-align:center;
	}
	.post-tools__item{
		margin-bottom: 20px;
	}
	.cmp-list__item,
	.cmp__advan-list li{
		width:calc(50% - 7.5px);
	}
}
@media(max-width:479px){
	
}